# Required Package

In [4]:
import pandas as pd
import requests
from IPython.display import display

# About this NoteBook

---

In this noteBook we try to create a fonction help us to get data from an API using several methods in requests package as **post**/**get**

**API**: http://universities.hipolabs.com/search?country=united%20states



---

In [61]:
def getStatus(country):
    req=requests.get(f'http://universities.hipolabs.com/search?country={country.lower().replace(" ","%20")}')
    info={"status":req.status_code,"request":req}
    return info

In [62]:
getStatus("United States")

{'status': 200, 'request': <Response [200]>}

In [63]:
def getJson(apiReq):
    return apiReq.json()

In [67]:
stat,req=getStatus("United States").values()
getJson(req)[0]

{'country': 'United States',
 'domains': ['marywood.edu'],
 'alpha_two_code': 'US',
 'state-province': None,
 'web_pages': ['http://www.marywood.edu'],
 'name': 'Marywood University'}

In [68]:
def getData(country):
    stat,req=getStatus(country).values()
    error=False
    if stat!=200:
        error=True
    jsonData=getJson(apiReq=req)
    try:
        if error:
            raise Exception()
        #create Data Frames 
        df=pd.DataFrame()
        for k in jsonData[0].keys():
            df[k]=[row[k] for row in jsonData]
    except:
        return "No Data Found!!!"
    else:
        return df

In [69]:
getData("United States")

,country,domains,alpha_two_code,state-province,web_pages,name
0,United States,[marywood.edu],US,None,[http://www.marywood.edu],Marywood University
1,United States,[lindenwood.edu],US,None,[http://www.lindenwood.edu/],Lindenwood University
2,United States,[sullivan.edu],US,None,[https://sullivan.edu/],Sullivan University
3,United States,[fscj.edu],US,None,[https://www.fscj.edu/],Florida State College at Jacksonville
4,United States,[xavier.edu],US,None,[https://www.xavier.edu/],Xavier University
...,...,...,...,...,...,...
4530,United States,[csu.edu],US,None,[https://csu.edu],Chicago State University
4531,United States,[csupueblo.edu],US,None,[https://csupueblo.edu],Colorado State University-Pueblo
4532,United States,[bau.edu],US,None,[https://bau.edu/],Bay Atlantic University
4533,United States,[siena.edu],US,None,[https://www.siena.edu/],Siena College
4534,United States,[txwes.edu],US,None,[https://txwes.edu/],Texas Wesleyan University